.git
.idea
.vs
.vscode
__pycache__
apchhi
bin
build
cmake-build*
CppCheckInput.txt
debug
ipch
obj
ord.txt
out
packages
release
x64
*.bak
*.cscope_file_list
*.sdb
*.depend
*.filters
*.gch
*.layout
*.opensdf
*.props
*.save
*.save-failed
*.sdf
*.suo
*.targets
*.tdnet
*.xml
*.user
